<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Management</title>
    <!--/*/ <th:block th:include="fragments/general.html :: header">
    </th:block> /*/-->
</head>
<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<form th:object="${addressForm}" th:action="@{/address/add}" th:method="POST">

    <div>
        <label for="country">Country</label>
        <input type="text" id="country" th:field="*{country}">
        <br/>
    </div>
    <div>
        <label for="city">City</label>
        <input type="text" id="city" th:field="*{city}">
        <br/>
    </div>
    <div>
        <label for="street">Street</label>
        <input type="text" id="street" th:field="*{street}">
        <br/>
    </div>
    <div>
        <label for="number">Number</label>
        <input type="text" id="number" th:field="*{number}">
        <br/>
    </div>
    <div>
        <label for="postalcode">Postal Code</label>
        <input type="text" id="postalcode" th:field="*{postalCode}">
        <br/>
    </div>
    <div>
        <label for="localdate">Local Date</label>
        <input type="date" id="localdate" th:field="*{currentDate}">
        <br/>
    </div>
    <input type="submit" value="Add Address">

</form>

<br/>

</body>
</html>