<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Management</title>
    <!--/*/ <th:block th:include="fragments/general.html :: header">
    </th:block> /*/-->
</head>
<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<a class="nav-link" th:href="@{/address/add}">Add a new address</a>

<div class="address-show">
    <h3>These are the addresses</h3>
    <ul>
        <li th:each="address, status : ${addresses}" th:style="${status.odd}? 'font-weight:bold;'">
            <div>
                <label>Nr. Crt:</label>
                <span th:text="${status.index + 1}"></span>
            </div>
            <div>
                <label>Country:</label>
                <span th:text="${address.getCountry()}"></span>
            </div>
            <div>
                <label>City:</label>
                <span th:text="${address.getCity()}"></span>
            </div>
            <div>
                <label>Street:</label>
                <span th:text="${address.getStreet()}"></span>
            </div>
            <div>
                <label>Number:</label>
                <span th:text="${address.getNumber()}"></span>
            </div>
            <div>
                <label>Number:</label>
                <span th:text="${address.getNumber()}"></span>
            </div>
            <div>
                <label>Postal Code:</label>
                <span th:text="${address.getPostalCode()}"></span>
            </div>
            <div>
                <label>Current Date:</label>
                <span th:text="${address.getCurrentDate()}"></span>
            </div>
            <br/>
            <a class="nav-link" th:href="@{/address/edit/{id}(id=${status.index})}" th:method="GET">Edit Address</a>
            <a class="nav-link" th:href="@{/address/delete/{id}(id=${status.index})}" th:method="GET">Delete Address</a>
        </li>
    </ul>

</div>

</body>
</html>