<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hotel Management</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/address/list">Address Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/room/list">Room Management</a>
            </li>
        </ul>
    </div>
</nav>

<form th:object="${roomForm}" th:action="@{/room/add}" th:method="POST">

    <div>
        <label for="number">Number</label>
        <input type="number" id="number" th:field="*{number}">
        <br/>
    </div>
    <div>
        <label for="toroom">Type of Room</label>
        <input type="text" id="toroom" th:field="*{typeOfRoom}">
        <br/>
    </div>
    <div>
        <label for="view">View</label>
        <input type="text" id="view" th:field="*{view}">
        <br/>
    </div>
    <div>
        <label for="osta">Occupied Status</label>
        <input type="text" id="osta" th:field="*{occupiedStatus}">
        <br/>
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number" id="price" th:field="*{price}">
        <br/>
    </div>
    <input type="submit" value="Add Room">

</form>

</body>
</html>
